<!--<div class="jumbotron text-center">-->
<!--    <h1>Controls Page</h1>-->

<!--    <p>{{ message }}</p>-->
<!--</div>-->


    
<!--<uib-accordion-group heading="Day Lights" panel-class="panel-primary">-->
<div class="panel panel-default">
    <div class="panel-heading">Lights</div>
    <div class="panel-body">
        <p>Control lights.</p>

        <form>
            <div>
                <switch class="green" id="LightsonOffonOff" name="LightsonOffonOff" ng-model="LightsonOffonOff" on="On" off="Off">
                    <!--<button ng-click="lightON();">Toggle</button>-->
            </div>
            </switch>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Filtration</div>
    <div class="panel-body">
        <p>Filter pump.</p>

            <div>
                <switch class="green" id="FilterOnOff" name="FilterOnOff" ng-model="FilterOnOff" on="On" off="Off"> </switch>
            </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Decoration</div>
    <div class="panel-body">
        <p>Bubbles pump.</p>

            <div>
                <switch class="green" id="BubblesOnOff" name="BubblesOnOff" ng-model="BubblesOnOff" on="On" off="Off"> </switch>
            </div>
    </div>
</div>


